:root {
  --max-width: 1440px;
  --border-radius-buttons: 2.5rem;
  --border-radius-hero: 2rem;
  --border-radius-input: 1rem;

  --neskt-font: "Nekst";

  --orange: #ff9514;

  --black: #111111;
  --slider-bg: #f3f3f4;
  --gilroy-font: "Gilroy";
  --light-gray: #c4c4c4;
  --transparent-gray: rgba(17, 17, 17, 0.5);
  --disabled: rgba(255, 149, 20, 0.4);
  --dark-gray: #575757;
  --light-black: #333333;
  --accent-gray: #e1e1e1;
  --medium-gray: #828282;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  font-family: var(--gilroy-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-family: var(--neskt-font);
  line-height: 29px;
  font-weight: 900;
  font-size: 32px;
}

h2 {
  font-family: var(--neskt-font);
  line-height: 36px;
  font-weight: 900;
  font-size: 30px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: var(--border-radius-buttons);
  font-size: 1rem;
  cursor: pointer;
  line-height: 24px;
  font-weight: 700;
  height: 48px;
  border: 0px;

  padding: 12px 24px;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

button:disabled::after {
  border-radius: var(--border-radius-buttons);
  width: calc(100% + 2px);
  transform: translateX(-1px);

  position: absolute;
  top: 0;
  height: calc(100% + 4px);
  transform: translateY(-2px);
  content: "";
  background-color: #fff;
  opacity: 0.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

ul {
  list-style: none;
}

@media screen and (min-width: 767px) {
  #__next {
    padding: 16px 36px;
  }

  h1 {
    line-height: 49px;
    font-size: 54px;
  }
}

@media screen and (min-width: 1023px) {
  #__next {
    padding: 24px 48px;
  }
}

@media screen and (min-width: 1440px) {
  #__next {
    padding: 21px 48px;
  }
}
