.container {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: var(--accent-gray);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border: transparent;
  z-index: 20;
  width: calc(100% - 22px);
  top: calc(100% - 1px);
  position: absolute;
  left: 12px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--orange);

  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;

  cursor: pointer;
}

.range::-webkit-slider-thumb:hover {
  scale: 1.1;
  transform: scale(1.1);
}

.range::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: transparent;
  border-radius: 50%;
  background: var(--orange);
  cursor: pointer;
}

.range::-moz-range-thumb:hover {
  scale: 1.1;
  transform: scale(1.1);
}

.text_input_container {
  display: flex;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  position: relative;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  background-color: transparent;
}

.text_input_container:hover {
  background-color: #f3f3f4;
}

.text_input {
  height: 60px;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  justify-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 800;
  color: var(--dark-gray);
  border-radius: 16px;
  background-color: var(--slider-bg);
  border: 2px solid transparent;
}

.text_input:focus {
  background-color: white;
  outline: 1px solid transparent;
}

.value_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  border-radius: 12px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  text-align: right;
  line-height: 20px;

  color: var(--dark-gray);
  font-family: var(--neskt-font);
  font-weight: 900;
}

.percent_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 6px;
  font-size: 22px;
  border-radius: 12px;
  line-height: 20px;
  text-align: right;
  position: absolute;
  background-color: #ebebec;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--dark-gray);
  font-family: var(--neskt-font);
  font-weight: 900;
  padding: 13px;
}

.title {
  font-size: 1rem;
  font-family: var(--gilroy-font);
  font-weight: 400;

  color: var(--dark-gray);
  margin-bottom: 1rem;
}

@media screen and (min-width: 767px) {
  .percent_container {
    font-size: 24px;
    line-height: 24px;
  }
  .value_container {
    font-size: 30px;
    line-height: 36px;
  }

  .text_input {
    font-size: 30px;
  }
}

@media screen and (min-width: 1023px) {
}

@media screen and (min-width: 1440px) {
  .title {
    margin-bottom: 0;
  }
}
